<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>可视化爬虫系统</title>
    <link href="/static/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/buttons.css" rel="stylesheet">
    <link href="/static/lib/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/templatemo-style.css" rel="stylesheet">

    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/vue.min.js"></script>
    <script src="/static/lib/jquery.cookie.min.js"></script>
    <script src="/static/lib/popper.min.js"></script>
    <script src="/static/lib/bootstrap.min.js"></script>

    <script src="/static/lib/bootstrap-switch.min.js"></script>
    <script src="/static/lib/bootstrap-filestyle.min.js"></script>
    <script src="/static/templatemo-script.js"></script>
    <style>
        .modal p {
            font-size: 20px;
        }
    </style>
</head>
<body>


{#消息模态框#}

<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    消息提示
                </h4>
            </div>
            <div class="modal-body">
                <p>{{ msg }}</p>
            </div>
            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-block btn-rounded btn-danger button-large"
                        data-dismiss="modal">
                    我知道了
                </button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="templatemo-flex-row">
    <div class="templatemo-sidebar  {{ sideCollapse }}">
        <div id="sidebar-collapse-button">
            <span class="fa fa-bars fa-2x"></span>
        </div>
        <header class="templatemo-site-header">
            <div class="square"></div>
            <h1>可视化爬虫系统</h1>
        </header>
        <div class="profile-photo-container">
            <img src="/static/images/gerapy.png" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">
            <ul>
                <li><a href="manage"><i class="fa fa-home fa-2x"></i><span>新闻爬虫</span></a></li>
                <li><a href="weibo" class="active"><i class="fa fa-newspaper-o fa-2x"></i><span>微博爬虫</span></a></li>
                <li><a href="config"><i class="fa fa-gear fa-2x"></i><span>系统设置</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="templatemo-content col-1 light-gray-bg">

        <div class="templatemo-content-container">

            <div class="templatemo-flex-row flex-content-row">

                <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
                    <div class="panel-heading">
                        爬虫运行控制
                    </div>
                    <div class="panel-content">
                        <div class="switch" data-on-label="SI" data-off-label="NO">
                            {% if weibostate %}
                                <input class="b-switch" type="checkbox" checked/> {% else %}
                                <input class="b-switch" type="checkbox"/> {% endif %}
                        </div>
                    </div>
                </div>

            </div> <!-- Second row ends -->
            <div class="templatemo-flex-row flex-content-row">

                <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
                    <div class="panel-heading">
                        爬虫运行状态
                    </div>
                    <div class="panel-content">
                        {{ weibo_run_state }}
                    </div>
                </div>
            </div> <!-- Second row ends -->
            <footer class="text-right">
                <p>Copyright &copy; 2017 BUAA</p>
            </footer>
        </div>
    </div>
</div>


<script>
    var msg = "{{ msg }}"

    function showMsgModal(msg) {
        if (msg != null && msg.length > 0) {
            $("#msgModal .modal-body").text(msg)
            $("#msgModal").modal()
        }
    }

    $(".b-switch").bootstrapSwitch({
        onSwitchChange: function (event, state) {
            if (state) {
                $.post("do_use_weibo", function (res) {
                    console.log(res)
                })
            } else {
                $.post("do_not_use_weibo", function (res) {
                    console.log(res)
                })
            }
        }
    })
    $(document).ready(function () {
        if (msg != null && msg.length > 0) {
            $("#msgModal").modal()
        }


    })
</script>
</body>
</html>